body {
    background-color: #0b0b0b !important;
    width: 100vw;
    height: 100hw;
}

div.btn-wrapper {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
button.btn {
    z-index: 9999;
    font-size: x-small;
    flex-grow: 1;
}
button.btn-capture {
}

button.btn-slides {
}

img.ghost {
    position: absolute;
    left: 0;
    top: 0;
    width: 100wv;
    z-index: 1000;
    opacity: 0.5;
}

div#total-wrapper {
    position: relative;
}

div#slideshow {
    width: 100%;
}

div#result {
    width: 100%;
    height: 100%;
}
div#result > img {
    width: 100%;
    height: 100%;
}

#webcam {
    width:100%;
}
