btn#capture-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    height: 5em;
    padding: 0.5em;
    font-size: large;
    font-weight: 800;
    color: white;
    background-color: #c22330;
    border-radius: 10px;
}

btn#toggle-btn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    height: 5em;
    padding: 0.5em;
    font-size: large;
    font-weight: 800;
    color: white;
    background-color: #304bcc;
    border-radius: 10px;
}

img.ghost {
    position: absolute;
    left: 0;
    top: 0;
    width: 100wv;
    z-index: 1000;
    opacity: 0.5;
}

div#total-wrapper {
    position: relative;
}

div#slideshow {
    width: 100%;
}

div#result {
    width: 100%;
    height: 100%;
}
div#result > img {
    width: 100%;
    height: 100%;
}

#webcam {
    width:100%;
}
