#capture-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
    height: 5em;
    padding: 1em;
    font-size: large;
    font-weight: 800;
    color: white;
    background-color: #c22330;
    border-radius: 10px;
}

.ghost {
    position: 'absolute';
    left: 0;
    top: 0;
    width: 100wv;
    height:100wh;
    z-index: 1000;
    opacity: 0.;
    border: 1px solid blue;
}

div#total-wrapper {
    position: relative;
    width: 100vw;
    height: 100vw;
    border: 1px solid orange;
}

div#slideshow {
    width: 100%;
    border: 1px solid gold;
}

div#result {
    width: 100%;
    height: 100%;
}
div#result > img {
    width: 100%;
    height: 100%;
}

#webcam {
    border: 1px solid red;
    width:100vw;
    height:100wh;
}
